//============================
// foundation
//============================
@use 'foundation';

//============================
// layout
//============================
@use "layout/l-header";
@use "layout/l-headerDrawer";
@use "layout/l-footer";
@use "layout/l-inner";
@use "layout/l-main";

//============================
// object
//============================
// component -----------------
@use "object/component/c-breadcrumb";
@use "object/component/c-text";
// page -------------------
// utility -------------------
@use "object/utility/u-hidden";
@use "object/utility/u-text";
@use "object/utility/u-other";

.bg {
    background-image: url(/assets/images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}
